# Data Science Tools and Ecosystem

## Introduction
In this notebook, we will explore some of the popular tools, languages, and libraries used in Data Science.
We will also demonstrate a few basic arithmetic expressions using Python.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Java
- Julia

## Data Science Libraries
Some of the commonly used libraries are:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- ggplot2

## Data Science Tools
| Tool            | Category            |
|-----------------|---------------------|
| Jupyter Notebook | Interactive IDE    |
| RStudio         | IDE for R          |
| Apache Spark    | Big Data Processing|
| TensorFlow      | Deep Learning      |
| Tableau         | Visualization      |

## Arithmetic Expressions
Below are examples of evaluating arithmetic expressions in Python.

In [ ]:
# Multiply and add numbers
result = (3 * 4) + 5
result

In [ ]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

## Objectives
In this notebook, we will:
- List popular data science languages
- List commonly used libraries
- Create a table of tools
- Perform simple arithmetic operations
- Convert minutes to hours

## Author
**Your Name**